/* src/index.css */
:root {
  width: 100%;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: initial;
  min-width: 320px;
  min-height: 100vh;
}